@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Roboto&display=swap");
html {
  margin: 0px;
  height: 100%;
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
  /* font: 14px "Century Gothic", Futura, sans-serif; */
  font-size: 2.5rem;
  background-image: url("./abstract.jpg");
  background-size: 100%;
  margin: 0px;
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

ol,
ul {
  padding-left: 1.875rem;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 0.625rem;
}

.square {
  background: #fff;
  border: 5px solid #073b4c;
  float: left;
  font-size: 11.25rem;
  font-weight: bold;
  line-height: 2.125rem;
  height: 12.5rem;
  margin-right: -0.0625rem;
  margin-top: -0.0625rem;
  padding: 0.625rem;
  text-align: center;
  width: 12.5rem;
  color: #118ab2;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  padding: 0.3125rem;
}

.game-info {
  margin-left: 3.125rem;
}

img:nth-child(1) {
  max-width: 1.875rem;
}

.btn {
  width: 25rem;
  height: 3.125rem;
  border-radius: 2.5rem;
  font-family: inherit;
  font-size: 1.875rem;
}

/* .list {
  height: 30px;
  width: 30px;
} */

div:nth-child(1) {
  color: white;
  font-size: 3.125rem;
  border-left: 0.625rem;
}

.game-board {
  display: flex;
  align-items: center;
}

li::marker {
  margin-left: 0.625rem;
  padding-left: 0.625rem;
}

@media screen and (max-width: 1280px) {
  .square {
    font-size: 5rem;
    height: 7rem;
    width: 7rem;
  }
}
@media screen and (max-width: 880px) {
  body {
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .square {
    font-size: 2rem;
    height: 4rem;
    width: 4rem;
  }
  .btn {
    width: 15rem;
    height: 1.5rem;
    font-size: 1rem;
  }
  div:nth-child(1) {
    font-size: 1rem;
    border-left: 0.225rem;
  }
}
@media screen and (max-width: 520px) {
  body {
    background-image: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  .square {
    font-size: 1.5rem;
    height: 2.75rem;
    width: 2.75rem;
    padding: 0;
  }
  .btn {
    width: 6rem;
    height: 1rem;
    font-size: 0.5rem;
  }
  div:nth-child(1) {
    font-size: 1rem;
    border-left: 0.225rem;
  }
}
